@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Poppins:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}

#issMap {
    height: 480px;
    width: 700px;
}

.container {
    flex-direction: column;
    display: flex;
    align-items:center;
    justify-content: center;
}

.info-container {
    display: flex;
    gap: 2rem;
}
.info-container p {
    border: 2px solid red;
    padding: 8px 16px;
    border-radius:15px;
    width: 8rem;

}
.info-container span {
    font-weight: 600;
}